/* start variables */
:root{
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 /70%);
    --white: #fff;
    --section-padding: 70px;
}
/* end variables */
/* start global rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
::selection{
    background-color: var(--main-color);
    color: #fff;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small */
@media (min-width:768px) {
    .container{
        width: 750px;
    }
}
/* medium */
@media (min-width:992px) {
    .container{
        width: 970px;
    }
}
/* large */
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
}
/* end global rules */
/* start components */
.main-heading {
    text-align: center;
}
.main-heading h2{
    font-weight: 500;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
}
.main-heading h2::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
}
.main-heading h2::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -38px;
    background-color: var(--white);
}
.main-heading p{
    margin: 0 auto 60px;
    max-width: 100%;
    line-height: 1.6;
    color: #777;
}
/* end components */
/* start scrollbar */
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
/* end scrollbar */
/* start header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
header .container::after{
    content: "";
    position: absolute;
    height: 2px;
    width: calc(100% - 30px);
    background-color: #a2a2a2;
    bottom: 0;
    z-index: -1;
    left: 15px;
}
header .logo img{
    height: 40px;
}
header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header nav .toggle-menu{
    color: var(--white);
    font-size: 22px;
}
@media (min-width: 768px){
    header nav .toggle-menu{
        display: none;
    }
}
header nav ul{
    display: flex;
}
@media (max-width:768px){
    header nav ul{
        display: none;
    }
    header nav .toggle-menu:hover + ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba( 0 0 0 / 60%);
    }
    header nav .toggle-menu:hover + ul li a{
        padding: 15px;
        transition: 0.6s;
    }
    header nav .toggle-menu:hover + ul li a:hover{
        padding-left: 30px;
        color: var(--main-color);
    }
}
header nav ul li a{
    display: block;
    text-decoration: none;
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    transition: 0.3s;
    padding: 40px 10px;
}
header nav ul li a.active,
header nav ul li a:hover{
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}
header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid var(--white);
}
header nav .form i{
    color: var(--white);
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
/* end header */
/* start landing */
.landing{
    min-height: 100vh;
    background-image: url(../images/landing.jpg);
    background-size: cover;
    position: relative;
}
.landing .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /60%);
}
.landing .text{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    color: var(--white);
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;
}
@media (max-width: 767px) {
    .landing .text{
        width: 100%;
    }
    .landing .text .content{
        max-width: 100%;
    }
}
.landing .text .content{
    max-width: 500px;
}
.landing .text .content h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 20px;
}
.landing .text .content p{
    font-size: 14px;
    line-height: 1.6;
}
.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
}
@media (max-width: 767px) {
    .landing .change-background {
        display: none;
    }
}
.landing .change-background:first-of-type{
    left: 30px;
}
.landing .change-background:last-of-type{
    right: 30px;
}
.landing .bullets{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}
.landing .bullets li{
    width: 20px;
    height: 20px;
    border: 1px solid var(--white);
    border-radius: 50%;
    margin-right: 10px;
}
.landing .bullets li.active{
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* end landing */
/* start Services */
.services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
@media (min-width: 768px) {
    .services .services-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        column-gap: 40px;
        row-gap: 60px;
    }
}
.services .srv-box{
    display: flex;
    margin-bottom: 20px;
}
.services .srv-box i{
    margin-right: 50px;
}
@media (max-width: 787px) {
    .services .srv-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }
    .services .srv-box i{
        margin: 0 0 30px;
    }
}
.services .srv-box .text h3{
    margin-bottom: 30px;
    color: var(--main-color);
}
.services .srv-box .text p{
    line-height: 1.6;
    color: #777;
}
/* end Services */
/* start design */
.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    height: 600px;
    position: relative;
    background-image: url(../images/download.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.design::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /60%);
}
.design .image,
.design .text{
    z-index: 2;
    position: relative;
    flex: 1;
}
.design .image {
    text-align: center;
}
.design .image img{
    position: relative;
    bottom: -150px;
}
@media (max-width: 767px) {
    .design .image{
        display: none;
    }
    .design .text{
        text-align: center;
    }
}
.design .text{
    color: var(--white);
    padding: 50px;
    background-color: var(--transparent-color);
    border-radius: 10px;
}
.design .text h2 {
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.design .text ul li{
    padding: 15px 0;
}
.design .text ul li::before{
    font-family: 'Font Awesome 6 Free';
    content: '\f390';
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}
/* end design */
/* start Portfolio */
.portfolio{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.portfolio .shuffle {
    display: flex;
    justify-content: center;
}
.portfolio .shuffle li {
    padding: 10px;
    margin: 0 2px 60px;
    transition: 0.3s;
}
.portfolio .shuffle li.active,
.portfolio .shuffle li:hover {
    background-color: var(--main-color);
    color: var(--white);
    border-radius: 5px;
}
.portfolio .imgs-cont{
    display: flex;
    flex-wrap: wrap;

}
.portfolio .imgs-cont .box{
    flex-basis: 100%;
    position: relative;
    overflow: hidden;
}
.portfolio .imgs-cont .box:hover .caption{
    bottom: 0;
}
.portfolio .imgs-cont .box:hover img {
    transform: rotate(3deg) scale(1.1);
}
@media (min-width:768px) {
    .portfolio .imgs-cont .box {
        flex-basis: 50%;
    }
}
@media (min-width:1199px) {
    .portfolio .imgs-cont .box {
        flex-basis: 25%;
    }
}
.portfolio .imgs-cont .box img{
    max-width: 100%;
    transition: 0.3s;
}
.portfolio .imgs-cont .box .caption {
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: var(--white);
    width: 100%;
    transition: 0.3s;
    bottom: -100%;
}
.portfolio .imgs-cont .box .caption h4 {
    font-weight: 500;
}
.portfolio .imgs-cont .box .caption p{
    color: var(--main-color);
}
.portfolio a.more {
    background-color: var(--main-color);
    color: var(--white);
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: block;
    width: fit-content;
    margin: 30px auto;
    text-transform: uppercase;
}
/* end Portfolio */
/* start video sec */
.video-sec {
    position: relative;
}
.video-sec::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /60%);
}
.video-sec video {
    width: 100%;
}
.video-sec .text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: var(--transparent-color);
    color: var(--white);
    text-align: center;
}
.video-sec .text h2{
    margin: 0 0 30px 0;
    font-weight: 500;
}
.video-sec .text p{
    margin-bottom: 30px;
}
.video-sec .text button{
    background-color: #111;
    color: var(--white);
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
}
/* end video sec */
/* start About */
.about {
    padding-top: var(--section-padding);
    overflow: hidden;
    text-align: center;
}
.about img {
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
}
@media (max-width: 767px) {
    .about img{
    bottom: -60px;
    margin-top: -60px;
    }
}
/* end About */
/* start stats */
.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    background-image: url(../images/stats.png);
    background-size: cover;
    position: relative;
}
.stats::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /60%);
}
.stats .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.stats .container .box{
    color: var(--white);
    padding: 50px;
    background-color: var(--transparent-color);
}
@media (max-width: 767px) {
    .stats .container .box{
        flex-basis: 100%;
        border-bottom: var(--white) 1px solid;
    }
}
@media (min-width: 768px) {
    .stats .container .box{
        flex-basis: 50%;
    }
}
@media (min-width: 991px) {
    .stats .container .box{
        flex-basis: 25%;
    }
}
.stats .container .box i{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    border-radius: 50%;
    margin: 0 auto 30px;
}
.stats .container .box .num {
    font-size: 50px;
    font-weight: 700;
}
.stats .container .box p{
    font-size: 14px;
}
/* end stats */
/* start skills */
.skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (min-width: 992px) {
    .skills .container > div {
        flex-basis: 45%;
    }
}
.skills .container > div > h3{
    margin: 0 0 30px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}
.skills .container > div > p{
    color: #333;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 50px;
}
.skills .content {
    display: flex;
    margin-bottom: 30px;
}
.skills .content img{
    width: 100px;
    height: 100px;
    margin-right: 50px;
    text-align: center;
}
@media (max-width: 767px) {
    .skills .content {
        flex-direction: column;
        text-align: center;
    }
    .skills .content img{
        margin: 0 auto 20px;
    }
}
.skills .text {
    line-height: 1.6;
    border-bottom: 1px solid #ccc;
}
.skills .text p {
    color: #333;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}
.skills .testimonials .bullets {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.skills .testimonials .bullets li {
    width: 14px;
    height: 14px;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin-right: 10px;
}
.skills .testimonials .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.skills .skills-bar .prog-holder {
    margin-bottom: 40px;
}
.skills .skills-bar .prog-holder h4{
    margin-bottom: 15px;
    font-weight: 500;
    text-transform: uppercase;
}
.skills .skills-bar .prog-holder .prog{
    background-color: #dedadc;
    height: 30px;
}
.skills .skills-bar .prog-holder .prog span{
    display: block;
    background-color: var(--main-color);
    height: 100%;
    position: relative;
}
.skills .skills-bar .prog-holder .prog span::before{
    content: attr(data-prog);
    position: absolute;
    background-color: #111;
    color: var(--white);
    top: -40px;
    right: -23px;
    padding: 4px;
    width: 40px;
    text-align: center;
    border-radius: 5px;
}
.skills .skills-bar .prog-holder .prog span::after{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: #111 transparent transparent transparent;
    right: -7px;
    top: -10px;
}
/* end skills */
/* start Quote */
.quote {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/quote.jpg);
    background-size: cover;
    position: relative;
    text-align: center;
    color: var(--white);
}
.quote::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /70%);
}
.quote .container {
    position: relative;

}
.quote q {
    font-size: 30px;
    margin-bottom: 60px;
    display: block;
    position: relative;
}
.quote q::before,
.quote q::after{
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    position: absolute;
    font-size: 60px;
    color: rgb(255 255 255 /90%);
}
.quote q::before{
    content: '\f10d';
    top: -60px;
    left: -25px;
    margin-right: 1px;
}
.quote q::after{
    content: '\f10e';
    bottom: -55px;
    right: 40px;
}
@media (max-width: 991px) {
    .quote q::before{
        left: 0px;
    }
}
/* end Quote */
/* start pricing */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 30px;
}
.pricing .plans .plan{
    background-color: #fcfcfc;
    text-align: center;
}
.pricing .plans .plan .head{
    padding: 40px 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan .head h3{
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.pricing .plans .plan .head span{
    font-size: 60px;
    font-weight: 600;
}
.pricing .plans .plan .head span::before{
    content: "$";
    font-size: 25px;
    top: -40px;
    margin-right: 15px;
    position: relative;
    font-weight: normal;
}
.pricing .plans .plan .head span::after{
    content: "/Mo";
    font-weight: normal;
    font-size: 25px;
    position: relative;
    right: -15px;
}
.pricing .plans .plan ul {
    border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan ul li{
    padding: 20px;
    position: relative;
}
.pricing .plans .plan ul li:not(:last-child)::after{
    content: "";
    width: 120px;
    height: 1px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.pricing .plans .plan .foot a {
    text-decoration: none;
    display: block;
    padding: 20px;
    border: 1px solid var(--main-color);
    width: fit-content;
    margin: 30px auto;
    border-radius: 10px;
    transition: 0.3s;
    color: var(--main-color);
}
.pricing .plans .plan .foot a:hover {
    background-color: var(--main-color);
    color: var(--white);
}
.pricing .contact-text {
    text-align: center;
    margin: 50px 0 20px;
    font-size: 20px;
    font-weight: 500;
}
.pricing .contact-link {
    display: block;
    width: fit-content;
    margin: 20px auto;
    text-decoration: none;
    background-color: var(--main-color);
    color: var(--white);
    padding: 15px 30px;
    border-radius: 10px;
}
/* end pricing */
/* start subscribe */
.sub {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    position: relative;
    color: var(--white);
}
.sub::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /70%);
}
.sub .container{
    position: relative;
    display: flex;
    align-items: center;
}
@media (max-width: 991px) {
    .sub .container {
        flex-direction: column;
    }
}
.sub form {
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
    min-width: 40%;
}
.sub form i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}
.sub form input[type="email"]{
    border: 1px solid var(--white);
    border-right: none;
    background: none;
    padding: 20px 10px 20px 60px;
    caret-color: var(--main-color);
    width: calc(100% - 130px);
    color: var(--white);
}
.sub form input[type="submit"]{
    width: 130px;
    background-color: var(--main-color);
    color: var(--white);
    border: 1px solid var(--white);
    border-left: none;
    text-transform: uppercase;
    padding: 10px 20px;
    text-align: center;
    min-width: 145px;
    cursor: pointer;
}
.sub form input[type="email"]:focus,
.sub form input[type="submit"]:focus {
    outline: none;
}
.sub form ::placeholder {
    color: var(--white);
}
.sub p {
    line-height: 1.6;
    margin-left: 45px;
}
@media (max-width: 991px) {
    .sub p {
        margin: 30px 0 0;
        text-align: center;
    }
}
/* end subscribe */
/* start contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact .content {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 767px) {
    .contact .content {
        flex-direction: column;
    }
}
.contact .content form {
    flex-basis: 70%;
}
.contact .content form .main-input{
    padding: 20px;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    width: 100%;
}
.contact .content form .main-input:focus {
    outline: none;
}
.contact .content form textarea.main-input {
    height: 200px;
}
.contact .content form input[type="submit"] {
    background-color: var(--main-color);
    color: var(--white);
    padding: 20px;
    border: none;
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 10px;
}
.contact .content .info {
    flex-basis: 25%;
}
@media (max-width: 767px) {
    .contact .content .info{
        order: -1;
        margin-bottom: 50px;
        text-align: center;
    }
}
.contact .content .info h4{
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
}
.contact .content .info .phone{
    display: block;
    color: #777;
    margin-bottom: 10px;
}
.contact .content .info div:last-child h4{
    margin-top: 85px;
}
@media (max-width: 767px) {
    .contact .content .info {
    display: flex;
    justify-content: space-around;
    }
    .contact .content .info div {
        display: flex;
        flex-direction: column;
    }
    .contact .content .info div h4:last-of-type {
        margin-top: 30px;
    }
}
.contact .content .info address{
    color: #777;
    line-height: 1.8;
}
/* end contact */
/* start footer */
footer {
    padding-top: calc(var(--section-padding) / 2);
    padding-bottom: calc(var(--section-padding) / 2);
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    position: relative;
    color: var(--white);
    text-align: center;
}
footer::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /70%);
}
footer .container {
    position: relative;
}
footer p:not(.copyright) {
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid var(--white);
    font-size: 20px;
    width: fit-content;
    margin: 20px auto;
}
footer .social-icons i {
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
}
footer .copyright {
    margin-top: 30px;
}
footer .copyright span{
    font-weight: bold;
    color: var(--main-color);
}
/* end footer */
